<section id="content" role="content" layout="column" layout-padding md-scroll-y>
  <md-content class="md-whiteframe-z1" ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Description">
        <md-content class="md-padding">
          <h1 class="md-display-2">Photo Web Visualizer</h1>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;Mash-up Web responsiv care permite vizualizarea judicioasă pe hartă – folosind Google Maps – în timp-real disponibilitatea unor fotografii conţinând informaţii referitoare la localizarea geografică (geo-tagging). Aceste imagini pot fi preluate din surse multiple, Flickr şi Instagram. Starea curentă a vizualizării poate fi salvată local, cu posibilitatea restaurării ulterioare, şi poate fi partajată pe alte situri sociale (e.g. Pocket). Aplicaţia pune la dispoziţie maniere de filtrare – e.g., afişarea de fotografii dintr-un areal geografic, având o anumită paletă de culori, cu dimensiuni prestabilite, incluzând doar tag-uri specifice etc.</p>
        </md-content>
      </md-tab>
      <md-tab label="Wireframes">
        <md-content class="md-padding">
          <h1 class="md-display-2">Wireframes</h1>
          <p align="center">
            <img src="./images/WF1.png" width="700" height="450" alt=""></br></br></br>
            <img src="./images/WF2.png" width="700" height="450" alt=""></br></br></br>
            <img src="./images/WF3.png" width="700" height="450" alt="">
          </p>
        </md-content>
      </md-tab>
      <md-tab label="Mockups">
        <md-content class="md-padding">
          <h1 class="md-display-2">Mockups</h1>
          <p align="center">
            <img src="./images/MU1.png" alt=""></br></br></br>
            <img src="./images/MU2.png" alt=""></br></br></br>
            <img src="./images/MU3.png" alt="">            
          </p>
        </md-content>
      </md-tab>
      <md-tab label="QOCs">
        <md-content class="md-padding">
          <h1 class="md-display-2">Question Option Criteria</h1>
          <p align="center">
            <embed src="./images/qoc.pdf" width="800" height="550" type='application/pdf'>
          </p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</section>