<section id="content" role="content" layout="column" layout-padding md-scroll-y ng-controller="MapCtrl">
	<md-card>
		<ng-map class="google-map" zoom="{{mapVm.address ? 10 : 2}}" center="{{mapVm.address}}">
			<shape id="circle" name="circle" centered="true" 
				center="{{mapVm.address}}"
				stroke-color='#FF0000'
				stroke-opacity="0.8"
				stroke-weight="2" 
				radius="5000"></shape>
		</ng-map>

	  <md-input-container class="search">
	    <label>Search location</label>
	    <input ng-model="mapVm.address">
	  </md-input-container>
		
	  <md-card-actions layout="row" layout-align="space-between">
		  <md-button ng-click="mapVm.getPhotos(map.getCenter().lat(), map.getCenter().lng());">Get Photos</md-button>

	  	<md-card-icon-actions>	    
		    <md-button class="md-icon-button" aria-label="Share">
		      <md-icon>share</md-icon>
		    </md-button>
		  </md-card-icon-actions>

	  </md-card-actions>
	</md-card>
</section>
 